* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Lora&family=Staatliches&display=swap');
    
    html {
        font-size: 62.5%;
    }
    
     /**** menu ****/
  nav {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
    padding-right: 4.5%;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 3vw;
    font-family: Lora, serif;
    border-left: 1px solid black;
  }
  
  nav .openMenu {
    font-size: 3vw;
    margin: 20px;
    display: none;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 3vw;
    display: none;
  }
 
  nav .logo {
    margin: 6px;
    padding-left: 4.5%;
  }

    
    /** testo **/
    .testo {
        width: 100%;
        height: auto;
        padding: 3% 4%;
        border-bottom: 1px solid black;
    }

    .testo p {
        font-size: 3vw;
        font-family: Lora, serif;
    }


   /** animazione **/
.box-ani {
    width: 100%;
    overflow-x: hidden;
  }
  
  .animazione {
    width: 100000px;
    padding: 18px 0;
    overflow: hidden;
    border-bottom: 1px solid black;
  }
  
  .marquee {
    float: left;
    animation: slide-left 25s linear infinite;
  }
  
  .animazione span {
    font-family: Lora, serif;
    font-size: 3vw;
    color: black;
    padding-left: 350px;
  }
  
  @keyframes slide-left {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
    
/** team **/
    .team {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 3vw;
        font-family: Staatliches, sans serif;
    }

    .team p {
        font-size: 3vw;
        font-family: Lora, serif;
    }

    .item-d {
        padding: 9% 10% 9% 6%;
        border-left: 1px solid black;
        border-top: 1px solid black;
    }

    .item-b {
        border-left: 1px solid black;
    }

    .item-c {
        border-top: 1px solid black;
    }

    .item-a img, .item-b img, .item-c img{
        width: 83%;
        height: auto;
        margin: 10%;
    }

    /** FOOTER **/
    footer {
        width: 100%;
        height: 3%;
        padding: 9px 63px;
        border-top: 1px solid black;
        display: flex;
        justify-content: space-between;
    }
    
    footer p{
        font-size: 3vw;
        font-family: Lora, serif;
    }
    
    .social ul{
        list-style-type: none;
    }
    
    .social li {
        display: inline-block;
        margin-left: 34px;
    }
    
    .social a {
        font-size: 3vw;
        font-family: Lora, serif;
        text-decoration: none;
        color: black;
    }



    @media (max-width: 863px) {
        nav .mainMenu li a {
          font-size: 5vw;
        }
        nav .mainMenu li a {
          border-left: none;
        }
        nav .mainMenu {
          height: 100vh;
          position: fixed;
          top: 0px;
          right: 0px;
          left: 0px;
          z-index: 10;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #9FFFAA;
          transition: top 1s ease 0s;
          display: none;
        }
        nav .mainMenu .closeMenu {
          display: block;
          position: absolute;
          top: 20px;
          right: 20px;
        }
        nav .openMenu {
          display: block;
        }
    
        /** animazione **/
        .animazione span {
          font-size: 5vw;
          padding-left: 220px;
        }

        /** team **/
    .team {
        grid-template-columns: 100%;
    }

    .item-a img, .item-b img, .item-c img{
        margin: 4%;
    }

    .item-d {
        padding: 4% 9%;
        border-left: none;
    }

    .item-b {
        border-top: 1px solid black;
        border-left: none;
    }

    .center {
        margin: auto;
        text-align: center;
    }

        /** foot **/
        footer {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          margin-top: 0;
        }
    
        .social ul {
          width: 185px;
          margin-bottom: 6%;
        }
    
        .social ul li {
          margin: 0 9.5%;
        }
      }